<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace dao层对应类 -->
<mapper namespace="com.jeremy.dao.UserDAO">
	<!-- 登录方法 -->
	<select id="login" resultType="User">
		select id, username,realname,password,sex from t_user
		where username=#{username} and password = #{password}
	</select>
	<!-- 注册方法 -->
	<insert id="save" parameterType="User">
		insert into t_user values(#{id},#{username},#{realname},#{password},#{sex})
	</insert>


	<!-- id 方法名 resultType 返回结果的类型 -->


</mapper>
